.app {
    height: 300px;
}

.button {
    display: inline-block;
    background-color: #fff;
    width: 132px;
    height: 56px;
    /* padding: 16px 32px; */
    gap: 10px;
    margin: 10px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
}

.blueButton {
    background-color:#2231AA;
    border-radius: 2px;
    color: #FFFFFF;
}

.blueButton:hover {
    background-color: #5360CD;
}

.greyButton {
    background-color:#E8E8E8;
    border-radius: 2px;
    color: #8D8E97;;
}

.secButton{
    background-color:#E8E8E8;
    border-radius: 2px;
    color: #313037;
}

.secButton:hover {
    background-color: #DADADA;

}


.errorButton {
    color: #FD3419;
    background-color: #fff;
}
.errorButton:hover{
    background-color: rgba(209, 207, 207, 0.493);

}

.all{
    color:red;
}